body {
    width: 980px;
    margin: auto;
    font-size: 24px;
}

article {
    margin: 32px 0;
    box-shadow: 0 0 5px 5px #999;
    padding: 32px;
}

article footer {
    color: #999;
}

.red {
    background-color: rgb(247, 121, 121);
}

.green {
    background-color: rgba(136, 247, 136, 0.644);
}

.blue {
    background-color: rgb(69, 69, 248);
}